html, body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

/* header */

header, footer {
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.row-2-header {
    border-bottom: 1px solid #EBEBEB;
}

.flex-container {
    display: flex;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* layout */

.logo-box {
    flex: 1;
    max-width: 638px;
}

.search {
    position: relative;
    flex: 3;
}

.top-nav-box {
    flex: 1;
    min-width: 150px;
}

.top-nav-links-box {
    flex: 3;
    order: 2;
    max-width: 638px;
}

.right-space {
    flex: 1;
    order: 3;
    width: 150px;
}

.left-space {
    flex: 1;
    order: 1;
    width: 120px;
}

/* top navigation links */

.top-nav-links-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 3;
    order: 2;
    max-width: 638px;
}

.top-nav-links li {
    margin: 7px 10px;
}

.top-nav-links-right {
    justify-content: flex-end;
}

.settings a {
    padding-left: 200px;
}

.tools {
    padding: 6px 7px;
    border: 1px solid transparent;
    color: #212121;
}

.tools:hover {
    border-radius: 2px;
    border: 1px solid #9E9E9E;
    background-color: #EBEBEB;
    cursor: pointer;
}

/* main page */

.main {
    flex: 3;
    order: 2;
    flex-wrap: wrap;
    max-width: 638px;
}

/* links */
a {
    display: inline-block;
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #181818;
    text-decoration: underline;
}

.ad-feedback a {
    color: #9E9E9E;
    text-decoration: none;  
}

.ad-feedback a:hover {
    color: #9E9E9E;  
    text-decoration: underline;
}

.link {
    color: #0C742D;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    color: #0C742D;
    text-decoration: none
}

.search-result-link {
    color: #3600AD;
    text-decoration: none;
    font-size: 18px;
}

.search-result-link:hover {
    color: #3600AD;
    text-decoration: underline;
    font-size: 18px;
}

.small-search-result {
    color: #3600AD;
    text-decoration: none;   
}

.small-search-result:hover {
    color: #3600AD;
    text-decoration: underline;   
}

.more-link {
    font-size: 14px;
    color: #9E9E9E;
}

.more-link:hover {
    color: #9E9E9E;
    text-decoration: underline;
}

.drop-down-link {
    font-size: 18px;
    text-decoration: none;
}

.drop-down-link:hover {
    text-decoration: none;
}

.feedback a
{
    font-style: italic;
    font-size: 11px;
    color: #777;
}

.feedback a:hover
{
    font-style: italic;
    text-decoration: underline;
}

.related-link a {
    font-size: 14px;
    text-decoration: none;
    color: #3600AD;
}

.related-link a:hover {
    text-decoration: none;
}

.bottom-nav,.top-nav-links a {
    font-size: 13px;
    color: #5f6368;
    text-decoration: none;
}

.bottom-nav,.top-nav-links a:hover {
    text-decoration: none;
    color: #000;
}

/* text */

em {
    font-weight: bold;
}

.result-stats p {
    color: #808080;
    font-size: small;
    padding: 10px;
}

.lead-sentence {
    font-weight: bold;
}

.main-ad {
    font-size: 16px;
}

.list {
    list-style-type: decimal;
    list-style-position: inside;
}

.people-also-ask-title {
    font-size: 20px;
    color: #808080
}

.bottom-ad p {
    font-size: 14px;
    color: #9E9E9E;
}

.bottom-ad h3 {
    font-size: 16px;
}

.date {
    color: #808080;
}

.description {
    color: #545454;
    word-wrap: break-word;
}

.related-searches-list h2 {
    font-size: 18px;
}

.related-searches-list a {
    font-size: 14px;
    font-weight: bold;
}

.regular-font {
    font-weight: normal;
}

/* top nav icons */

.icon-square {
    width: 20px;
    background-image: url(../images/iconList.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .60;
    padding: 15px 5px;
    flex: 1;
    margin: 10px;
}

.icon-square:hover {
    opacity: .84;
}

.icon-alarm {
    background: url('../images/iconList.png') no-repeat -279px -42px;
    width: 23px;
    height: 26px;
    opacity: .60;
    flex: 1;
    margin: 10px;
}

.icon-alarm:hover {
    opacity: .84;
}

.user-image {
    background: url('../images/user-photo.jpg') no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    flex: 1;
    margin: 10px;
}

/* icons in search box */

.mic-icon {
    position: absolute;
    top: 30px;
    left: 550px;
    width: 2em;
    height: 2em;
}

.search-icon {
    position: absolute;
    top: 30px;
    left: 590px;
    fill: #417AF7;
    width: 2em;
    height: 2em;
}

/* feedback/about this result icons */
.icon {
    fill: #9E9E9E;
    width: .8em;
    height: .8em;
}


/* bottom google search numbers and logo */

.google-bar {
    display: relative;
    width: 300px;
    margin: 0 auto;
    padding: 40px;
}

.google-bar a {
    color: #4285f4;
}

.google-bar a:hover {
    color: #4285f4;
}

/* search box */

.search-box {
    font-size: 18px;
    width: 636px;
    border: 0;
    height: 44px;
    box-shadow: 1px 1px 2px #dbdbdb;
    margin: 20px auto;
    min-width: 350px;
}

/* realted sites */

.wordpress-box {
    background: url('../images/related-search/wordpress.png') no-repeat;
    width: 72px;
    height: 72px;
}

.google-box {
    background: url('../images/related-search/google-sites.png') no-repeat -50px;
    width: 72px;
    height: 72px;
}

.mobirise-box {
    background: url('../images/related-search/mobirise.jpeg') no-repeat;
    width: 72px;
    height: 72px;
}

.drupal-box {
    background: url('../images/related-search/drupal.png') no-repeat;
    width: 72px;
    height: 72px;
}

.bootstrap-box {
    background: url('../images/related-search/bootstrap.png') no-repeat;
    width: 72px;
    height: 72px;
}

.webnode-box {
    background: url('../images/related-search/webnode.jpeg') no-repeat -70px;
    width: 72px;
    height: 72px;
}

/* footer */

footer {
    border: 1px solid #EBEBEB;
}

.bottom-nav {
    flex: 3;
    order: 2;
    min-width: 638px;
    padding: 1.2em;
}

.bottom-nav li {
    padding-right: 2em;
}

.country {
    color: #6F6F6F;
    font-size: 15px;
    order: 2;
    flex: 3;
    min-width: 638px;
    padding: 1em;
}
